// reset ng-virtual-list-item styles
.list::part(item) {
    background-color: unset;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.vl-section {
    padding: 0 20px;
    margin-bottom: 24px;
    width: calc(100% - 40px);
    max-width: 640px;

    &.cap {
        margin-bottom: 24px;

        .logo {
            width: 100%;
        }

        .version {
            color: #3b3b3b;
            font-size: 10px;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 0.5px;
            font-weight: 800;
            width: 100%;

            &>span {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    &__container {
        width: 100%;

        &>h2 {
            color: #5a3e85;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 0.5px;
            font-weight: 800;
        }

        margin-bottom: 18px;
    }

    &>h1 {
        background: -webkit-linear-gradient(0deg, #6f00e2 0%0%, #6f00e2 30%, #f90058 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 19px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        letter-spacing: 0.5px;
        margin-bottom: 9px;

        &.center {
            width: 100%;
            text-align: center;
        }
    }

    &>p {
        &.l {
            color: #505050;
            background: unset;
            width: 100%;
            letter-spacing: 2px;
            font-size: 10px;
            text-transform: uppercase;
            margin: 0;
            text-align: center;
            margin-bottom: 0px;
            -webkit-background-clip: initial;
            -webkit-text-fill-color: initial;

            &.m {
                color: #3b3b3b;
                margin-bottom: 20px;
            }
        }

        background: -webkit-linear-gradient(0deg, #6f00e2 0%0%, #6f00e2 30%, #f90058 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 10px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 0;
    }

    &.block {
        padding: 20px 20px 4px;
    }
}

.container {
    display: grid;
    // grid-template-rows: auto 1fr;
    height: calc(100%);
    width: 100%;
    overflow: hidden;
}

.toolbar {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    padding: 6px 12px 6px 24px;
    background-color: #43218b;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .title {
        color: #a199db;
        font-weight: 800;
        font-size: 14px;
    }

    .search-container {
        position: relative;
    }

    .search {
        border-radius: 4px;
        padding: 6px;
        background: #4f2e9c;
        border: 1px solid #5e4cb1;
        width: 100%;
        max-width: 164px;
        color: #bed6eb;
        padding-right: 24px;

        &::placeholder {
            color: #91a9be;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

        &:focus {
            border-color: #c6f4ff;
        }

        &+svg {
            position: absolute;
            right: 8px;
            top: 7px;
        }

        &search+svg {
            visibility: hidden;
        }

        &search:placeholder-shown+svg {
            visibility: visible;
        }
    }
}

.list-container {
    display: grid;
    height: calc(100%);
    width: 100%;
    overflow: hidden;
}

.list {
    opacity: var(--viewport-alpha);
    transition: opacity 0s ease-in 100ms;
    background: linear-gradient(180deg, rgb(80, 42, 155) 0%, rgb(53, 147, 184) 100%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    &::part(scroller) {
        scroll-behavior: auto;
    }

    &__windicator-container {
        height: 40px;
        width: 100%;
        padding: 6px 20px;
        background-color: transparent;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__container {
        height: 100%;
        width: 100%;
        padding: 6px 20px;
        background-color: transparent;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &>* {
            height: auto;
        }

        &.in {
            justify-content: start;
        }

        &.out {
            justify-content: end;
        }

        .message {
            display: flex;
            max-width: 55%;
            background-color: rgb(210, 220, 221);
            border-radius: 12px;
            box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.075);
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px 14px;
            word-break: break-all;

            &.in {
                border-bottom-left-radius: 0px;
            }

            &.out {
                border-bottom-right-radius: 0px;
            }
        }
    }

    &__group-container {

        &.snapped,
        &.snapped-out {
            background-color: rgb(80, 45, 156);
        }

        height: 100%;
        width: 100%;
        padding: 6px 12px;
        background-color: transparent;
        color: rgb(241 246 255);
        box-sizing: border-box;
        font-weight: 800;
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;

        &>* {
            height: auto;
        }
    }

    &.vertical {
        max-height: unset;
        height: 100%;
        width: 100%;
    }
}