<div class="wrapper">
  <div class="vl-section block cap">
    <h1 class="center">ng-virtual-list</h1>
    <p class="l">Maximum performance for extremely large lists</p>
    <p class="l m">&#64;author: djonnyx&#64;gmail.com</p>
    <img class="logo" [src]="logo" />
    <div class="version"><span>v 19.1.22</span></div>
  </div>

  <div class="container">
    <ng-virtual-list #dynamicList class="list" [items]="groupDynamicItems" [itemRenderer]="groupItemRenderer"
      [itemSize]="40" [itemsOffset]="20" [stickyMap]="groupDynamicItemsStickyMap" [dynamicSize]="true" [snap]="true"
      (onScroll)="onScrollHandler($event)" (onScroll)="onScrollEndHandler($event)" [likeAChat]="true"></ng-virtual-list>
  </div>

  <ng-template #groupItemRenderer let-data="data" let-config="config">
    @if (data) {
      @switch (data.type) {
        @case ("write-indicator") {
          <div class="list__windicator-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="10" viewBox="0 0 120 30" fill="#fff">
              <circle cx="10" cy="10" r="10">
                <animate id="r0" attributeName="r" from="10" to="10" begin="0.5s;r0.end+0.5s" dur="0.5s" values="8;10;8" calcMode="linear"
                  repeatCount="indefinite" />
                <animate id="r1" attributeName="fill-opacity" from="1" to="1" begin="0.5s;r1.end+0.5s" dur="0.5s" values="0;1;0" calcMode="linear"
                  repeatCount="indefinite" />
              </circle>
              <circle cx="50" cy="10" r="10">
                <animate id="r2" attributeName="r" from="10" to="10" begin="0.25s;r2.end+0.75s" dur="0.5s" values="8;10;8" calcMode="linear"
                  repeatCount="indefinite" />
                <animate id="r3" attributeName="fill-opacity" from="1" to="1" begin="0.25s;r3.end+0.75s" dur="0.5s" values="0;1;0" calcMode="linear"
                  repeatCount="indefinite" />
              </circle>
              <circle cx="90" cy="10" r="10">
                <animate id="r4" attributeName="r" from="10" to="10" begin="0s;r4.end+1s" dur="0.5s" values="8;10;8" calcMode="linear"
                  repeatCount="indefinite" />
                <animate id="r5" attributeName="fill-opacity" from="1" to="1" begin="0s;r5.end+1s" dur="0.5s" values="0;1;0" calcMode="linear"
                  repeatCount="indefinite" />
              </circle>
            </svg>
          </div>
        }
        @case ("group-header") {
          <div class="list__group-container" [ngClass]="{'snapped': config.snapped, 'snapped-out': config.snappedOut}">
            <span>{{data.name}}</span>
          </div>
        }
        @default {
          @let isIn = data.incomType === 'in';
          @let isOut = data.incomType === 'out';
          @let class = {'in': isIn, 'out': isOut};
          <div class="list__container" [ngClass]="class" [ngStyle]="{}">
            <div class="message" [ngClass]="class">
              <span>{{data.name}}</span>
            </div>
          </div>
        }
      }
    }
  </ng-template>
</div>