@let isEdit = isEditMode();
<div class="wrapper">
  <div class="vl-section block cap">
    <h1 class="center">ng-virtual-list</h1>
    <p class="l">Maximum performance for extremely large lists</p>
    <p class="l m">&#64;author: djonnyx&#64;gmail.com</p>
    <img class="logo" [src]="logo" />
    <div class="version"><span>v 19.1.37</span></div>
  </div>
  <div class="container">

    <div class="toolbar">
      <div>
        <app-menu-button (click)="onOpenMenuHandler()" [opened]="menuOpened()" />
      </div>
      <div class="title">{{title()}}</div>
      <app-search (search)="onSearchHandler($event)" />
    </div>

    <div class="list-container">
      @let doc = dockMode();
      <app-drawer [dock]="doc" [dockLeftSize]="240">
        <dock-left>
          <div class="list-rooms__container">
            <ng-virtual-list class="list rooms" [items]="items" [itemRenderer]="itemRenderer" [trackBy]="'id'"
              [itemSize]="40" [dynamicSize]="true" [itemsOffset]="50"></ng-virtual-list>
          </div>
        </dock-left>
        <ng-virtual-list #dynamicList class="list" [items]="groupDynamicItems" [itemRenderer]="groupItemRenderer"
          [trackBy]="'id'" [itemSize]="40" [itemsOffset]="10" [stickyMap]="groupDynamicItemsStickyMap"
          [dynamicSize]="true" [snap]="true" (onScroll)="onScrollHandler($event)"
          (onScroll)="onScrollEndHandler($event)" [enabledBufferOptimization]="false"></ng-virtual-list>
        <!-- <ng-virtual-list #dynamicList class="list" [items]="groupDynamicItems" [itemRenderer]="groupItemRenderer" [trackBy]="'id'"
        [itemSize]="40" [itemsOffset]="10" [stickyMap]="groupDynamicItemsStickyMap" [dynamicSize]="false" [snap]="true"
        (onScroll)="onScrollHandler($event)" (onScroll)="onScrollEndHandler($event)" [enabledBufferOptimization]="false"></ng-virtual-list> -->
      </app-drawer>
    </div>
  </div>

  <ng-template #groupItemRenderer let-data="data" let-config="config">
    @if (data) {
    @switch (data.type) {
    @case ("write-indicator") {
    <div class="list__windicator-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="10" viewBox="0 0 120 30" fill="#fff">
        <circle cx="10" cy="10" r="10">
          <animate id="r0" attributeName="r" from="10" to="10" begin="0.5s;r0.end+0.5s" dur="0.5s" values="8;10;8"
            calcMode="linear" repeatCount="indefinite" />
          <animate id="r1" attributeName="fill-opacity" from="1" to="1" begin="0.5s;r1.end+0.5s" dur="0.5s"
            values="0;1;0" calcMode="linear" repeatCount="indefinite" />
        </circle>
        <circle cx="50" cy="10" r="10">
          <animate id="r2" attributeName="r" from="10" to="10" begin="0.25s;r2.end+0.75s" dur="0.5s" values="8;10;8"
            calcMode="linear" repeatCount="indefinite" />
          <animate id="r3" attributeName="fill-opacity" from="1" to="1" begin="0.25s;r3.end+0.75s" dur="0.5s"
            values="0;1;0" calcMode="linear" repeatCount="indefinite" />
        </circle>
        <circle cx="90" cy="10" r="10">
          <animate id="r4" attributeName="r" from="10" to="10" begin="0s;r4.end+1s" dur="0.5s" values="8;10;8"
            calcMode="linear" repeatCount="indefinite" />
          <animate id="r5" attributeName="fill-opacity" from="1" to="1" begin="0s;r5.end+1s" dur="0.5s" values="0;1;0"
            calcMode="linear" repeatCount="indefinite" />
        </circle>
      </svg>
    </div>
    }
    @case ("group-header") {
    <div class="list__group-container" [ngClass]="{'snapped': config.snapped, 'snapped-out': config.snappedOut}">
      <span>{{data.name}}</span>
    </div>
    }
    @default {
    @let isIn = data.incomType === 'in';
    @let isOut = data.incomType === 'out';
    @let class = {'in': isIn, 'out': isOut, 'edit': isEdit};
    <div class="list__container" [ngClass]="class" [longPress]="1000" (longPressFinish)="onEditModeStartHandler()"
      (click)="onClickHandler(data)">
      <div class="message__container">
        <!-- @if (isEdit) {
        <div class="message_delete-button">
          <div class="el-radio">
            <input type="radio" name="radio1" id="1_6" value="option" checked="">
            <label class="el-radio-style" for="1_6"></label>
          </div>
        </div>
        } -->
        <div class="message" [ngClass]="class">
          <span searchHighlight substringClass="search-substring" [text]="data.name" [searchedWords]="searchedWords()">{{data.name}}</span>
        </div>
      </div>
    </div>
    }
    }
    }
  </ng-template>

  <ng-template #itemRenderer let-data="data" let-config="config">
    @if (data) {
    @switch (data.type) {
    @case ("group-header") {
    <div class="list__item-container">
      <div class="content">
        <span>{{data.name}}</span>
      </div>
    </div>
    }
    @default {
    <div class="list__item-container" (click)="onRoomClickHandler(data)">
      <div class="message">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="#b8b8b8" width="48px" height="48px" viewBox="0 0 512 512">
            <title>ionicons-v5-j</title>
            <path
              d="M256,48C141.31,48,48,141.31,48,256s93.31,208,208,208,208-93.31,208-208S370.69,48,256,48ZM205.78,164.82C218.45,151.39,236.28,144,256,144s37.39,7.44,50.11,20.94C319,178.62,325.27,197,323.79,216.76,320.83,256,290.43,288,256,288s-64.89-32-67.79-71.25C186.74,196.83,193,178.39,205.78,164.82ZM256,432a175.49,175.49,0,0,1-126-53.22,122.91,122.91,0,0,1,35.14-33.44C190.63,329,222.89,320,256,320s65.37,9,90.83,25.34A122.87,122.87,0,0,1,382,378.78,175.45,175.45,0,0,1,256,432Z" />
          </svg>
        </span>
        <span>{{data.name}}</span>
      </div>
    </div>
    }
    }
    }
  </ng-template>
</div>